.*
!.babelrc
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.js
!.flowconfig
!.gitignore
!.gitkeep
!.husky
!.npmignore
!.openssl
!.prettierignore
!.terraform.lock.hcl
*.log
*.tsbuildinfo

!.github/
dist/
local/
node_modules/
