@import '../styles/colors';
@import '../styles/media';
@import '../styles/fonts';
@import '../styles/icons';

.header {
  composes: boom from '../styles/animations';
  composes: foreground from '../styles/layers';
  position: relative;
}

.title {
  composes: heading from '../styles/fonts';
  letter-spacing: -0.03em;
  color: var(--color-text);
  cursor: default;
  user-select: none;

  @media (--small-viewport) {
    font-size: 6rem;
  }

  @media (--medium-viewport) {
    font-size: 8rem;
  }

  @media (--large-viewport) {
    font-size: 10rem;
  }
}

.nav {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
}

@media (--small-viewport) {
  .title {
    font-size: 6rem;
  }

  .link {
    font-size: 3.2rem;
  }
}

@media (--medium-viewport) {
  .title {
    font-size: 8rem;
  }

  .link {
    font-size: 4.8rem;
  }
}

@media (--large-viewport) {
  .title {
    font-size: 10rem;
  }

  .link {
    font-size: 6.4rem;
  }
}
