<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Welcome to my abode!" />
    <meta name="keywords" content="langrisha, langri-sha, langri, sha" />
    <meta name="theme-color" content="#333" />
    <title>Langri-Sha</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-76SMPC2PGN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-76SMPC2PGN');
    </script>
  </head>
  <body>
    <div id="app" />
  </body>
</html>
