.icon::before {
  font-family: var(--font-icons);
  font-size: 2rem;
}

.icon-github::before {
  font-family: var(--font-icons);
  font-size: 2rem;
  content: '\1f431';
}

.icon-twitter {
  composes: icon;
  content: '\1f426';
}

.icon-stack-overflow {
  composes: icon;
  content: '\1f3eb';
}
