.icon::before {
  font-family: var(--font-icons) !important;
  font-size: inherit;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-smoothing: antialiased;
}

.icon-docker,
.icon-github,
.icon-key,
.icon-keybase,
.icon-npm,
.icon-stack-overflow,
.icon-twitter {
  composes: icon;
}

.icon-docker::before {
  content: '\1f680';
}

.icon-github::before {
  content: '\1f431';
}

.icon-key::before {
  content: '\1f511';
}

.icon-keybase::before {
  content: '\1f575';
}

.icon-npm::before {
  content: '\1f3e2';
}

.icon-stack-overflow::before {
  content: '\1f3eb';
}

.icon-twitter::before {
  content: '\1f426';
}
