@import "./animations.css";
@import "./fonts.css";
@import "./colors.css";

html {
  font-size: 62.5%;
}

body {
  position: absolute;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: var(--font-default);
}

.container {
  display: flex;
  background: #89253e;
  background: linear-gradient(to left, #3a6186, #89253e);
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 10rem;
  font-family: var(--font-heading);
  color: var(--color-white);
  animation-duration: 3s;
  animation-name: boomIn;
}
